@header-color-background: #FAFAFA;
//---
@header-color-menu_text: #FAFAFA;
//>
@header-color-menu_text2: #EEEEEE;
//---
@header-color-dropdown_menu: #878A87;
//---
@header-color-dropdown_text: #878A87;
//---
@header-list-page_layout: var1;
//---
@header-text-top_bar_opacity: .5;
//========
//Description: Website branding
@branding-font-heading: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
//========
@main-yesno-element_shadow: yes;
//---
@main-enabledisable-product_hover_effect: enable;
//---
//Description: recommended size: 400 * 300
@main-image-section_3_background: "../images/bottom-top.jpg"
