/**
 *   Style Initialisation
 */

body {
  font-family: @theme-var1;
}

.megamenu #nav {
  background: transparent !important;
  color: lighten(@theme-var2, 90%) !important;

  a.megamenu-lable {
    color: @theme-var3 !important;
    &:hover {
      color: lighten(@theme-var3, 10%) !important;
    }
  }
  .sub-menu {
    background: @theme-var2;
  }

  .list-categories-megamenu {
    li .level1-title h2 {
      color: @theme-var4 !important;
      border-color: darken(@theme-var4, 40%) !important;
      &:hover {
        color: darken(@theme-var4, 30%) !important;
      }
    }
    ul.level0-megamenu {
      & > h1 {
        font-size: 15px;
      }
      li.level1-megamenu {
        border-color: darken(@theme-var4, 40%) !important;
      }
    }
  }
  .magestore-megamenu li a {
    color: darken(@theme-var4, 40%) !important;
    &:hover {
      color: @theme-var4 !important;
    }
  }
}

.top-bar {
  opacity: @theme-var6;
}

.companies-section {
  background-image:url(@theme-var8);
}

.header-dropdown-text {
  color: @theme-var5;
}