// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  // Top search styling
  .block-search {
    .action.search {
      &:before {
        color: @_search-icon-color;
        font-weight: @font-weight__bold;
      }
    }
    .action.search[disabled] {
      opacity: 1;
    }
    input {
      display: inline-block;
      font-weight: 100;
      border: none;
      outline: none;
      color: #555;
      padding: 0;
      width: 0px;
      position: absolute!important;
      top: 1px;
      right: 10px;
      left: initial;
      background: none;
      z-index: 3;
      transition: width 0.4s linear;
      cursor: pointer;
      border-bottom: 1px solid lighten(@ala-primary-color, 60%);
    }
    .input-active {
      .control {
        input {
          width: 250px;
          z-index: 1;
          cursor: text;
          &:focus {
            box-shadow: inherit;
          }
        }
      }
    }
  }

  .form.minisearch > {
    .actions{
      width: 20px;
      height: 32px;
      position: absolute;
      right: 8px;
      top: 0;
      cursor: pointer;
      z-index: 9;
      background-color: @_top__search-background-color;
      .action.search {
        right: 3px;
      }
    }
  }
}