// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Shopgo Base theme General extended css .
//  _____________________________________________

a, .alink {
  color: @ala-primary-color;
  text-decoration: none;
}

a:hover, .alink:hover {
  color: darken(@ala-primary-color, 50%);
  text-decoration: underline;
}

a:visited, .alink:visited {
  color: @ala-primary-color;
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

  .fotorama__nav--thumbs {
    .fotorama__nav__shaft {
      float: left;
    }
  }

  .fotorama__fullscreen {
    .fotorama__zoom-in,
    .fotorama__zoom-out {
      left: 0;
      margin-left: 20px;
      margin-right: 0;
    }
  }

  .fotorama__fullscreen-icon {
    right: 2px;
  }

  //TBR
  .column.main {
    .product-items {
      /*@noflip*/
      margin-left: -20px;
      /*@noflip*/
      margin-right: 0;
    }
  }

  // Home page banners
  .home-erin {
    height: 276px!important;
  }

  .home-preFooter-banner {
    width: 100%!important;
  }

  .home-top {
    width: 66.7%!important;
  }

  // Home page widget product listing
  .content-heading{
    .title{
      font-weight: @font-weight__bold;
      color: @_heading__title-color;
    }
    &:before {
      display: none!important;
    }
    .info {
      color: @_heading__title-color;
    }
  }

}

//
//  Small screens
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

  .home-erin {
    height: 276px!important;
  }

  .widget .block-promo {
    img {
      max-width: none!important;
    }
  }

}
