// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//  Shopgo Base Theme Colors
@ala-primary-color: #2A2623;
@ala-secondary-color: #ED2938;


//  Navigation Color nesting
@_nav-background-color: @color-white;
@_nav-level0-item-color: @ala-primary-color;
@_navigation__background: @color-white;

// Top search Color nesting
@_top__search-background-color: @color-white;
@_search-icon-color: @ala-primary-color;

// Top cart Color nesting
@_cart-icon-color: @ala-primary-color;

// product listing Color nesting
@_heading__title-color: @ala-primary-color;
@_product__listing__heading-color: @ala-primary-color;
@_product__listing__price-color: @ala-primary-color;
@_product__listing__actions-color: @color-white;
@_product__listing__actions-background-color: @color-black;
@_product__listing-border-color: @ala-primary-color;
@_rating-color: @ala-primary-color;

//  Colors nesting
@page__background-color: @color-white;
@copyright__background-color: @color-gray56;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke;  // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background
