// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */
@import 'module/_collapsible_navigation.less';

//
//  Theme variables
//  _____________________________________________

//
//  Messages
//  ---------------------------------------------

@message-global-note__color: @text__color;
@message-global-note__background: @color-yellow-light2;
@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;
@message-global-note__border-color: @color-yellow-light3;

@message-global-caution__color: @color-white;
@message-global-caution__background: @color-red9;
@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;
@message-global-caution__border-color: none;

@header__background-color: false;
@header-panel__background-color: @color-gray-middle3;
@header-panel__text-color: @color-white;
@header-icons-color: @color-gray56;
@header-icons-color-hover: @color-gray20;
@customer-welcome__z-index: @dropdown-list__z-index + 1;

@addto-color: @color-gray60;
@addto-hover-color: @primary__color;
@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@price-color: @color-gray34;
@price-size: 22px;
@price-size-desktop: 36px;

@button__shadow: inset 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 0 fade(@border-color__base, 30); //  Used for secondary button and catalog toolbar controls
@button__shadow-active: inset 0 1px 0 0 fade(@border-color__base, 80), inset 0 -1px 0 0 fade(@border-color__base, 30); //  Used for secondary button and catalog toolbar controls

@h1__margin-bottom__desktop: @indent__xl;

//
//  Footer
//  ---------------------------------------------

@footer__background-color: @color-white;
@footer-links-separator-border-color: @color-gray89;
@footer-links-color: @ala-primary-color;
@footer-links-color-hover: lighten(@ala-primary-color, 40%);
@footer-links-color-current: lighten(@ala-primary-color, 50%);

//
//  Footer Bottom
//  ---------------------------------------------
@footer-bottom__background-color: @ala-primary-color;
@footer-bottom__text-color: @color-gray89;
@footer-bottom__links-color: @footer-bottom__text-color;
@footer-bottom__links-color-hover: lighten(@footer-bottom__links-color, 40%);
@copyright__text-color: @footer-bottom__text-color;

//
//  Layered navigation
//  ---------------------------------------------

@filter-title-background-color: @color-gray94;
@filter-link: @color-gray-darken4;
@filter-link-hover: darken(@filter-link, 30%);
@filter-quantity: @color-gray52;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body {
        .lib-css(background-color, @page__background-color);
    }

    //  ToDo UI: move it directly to .page-wrapper (now it doesn't appear in mediaquery cuz of size of css)
    .page-wrapper {
        .ie9 & {
            .lib-css(background-color, @page__background-color);
            min-height: 0;
        }
    }

    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        .lib-css(background-color, @header__background-color);
        border-bottom: 1px solid @border-color__base;
        margin-bottom: @indent__base;
        .panel.wrapper {
            .lib-css(background-color, @header-panel__background-color);
            .lib-css(color, @header-panel__text-color);
        }
    }

    .header.panel {
        > .header.links {
            .lib-list-inline();
            float: right;
            font-size: 0;
            margin-left: auto;
            margin-right: @indent__base;
            > li {
                .lib-css(font-size, @font-size__s);
                margin: 0 0 0 15px;
                > a {
                    .lib-link(
                        @_link-color: @header-panel__text-color,
                        @_link-text-decoration: none,
                        @_link-color-visited: @header-panel__text-color,
                        @_link-text-decoration-visited: none,
                        @_link-color-hover: @header-panel__text-color,
                        @_link-text-decoration-hover: underline,
                        @_link-color-active: @header-panel__text-color,
                        @_link-text-decoration-active: underline
                    );
                }
            }
        }
    }

    .header {
        &.content:extend(.abs-add-clearfix all) {
            padding-top: @indent__s;
            position: relative;
        }
    }

    .logo {
        float: left;
        margin: 0 0 @indent__s @indent__xl;
        max-width: 50%;
        position: relative;
        z-index: 5;
        img {
            display: block;
            max-height: 50px;
            max-width: 100%;
        }
        .page-print & {
            display: inline-block;
            float: none;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title + .action {
                margin-top: @indent__l;
            }
        }
    }

    .action.skip {
        &:not(:focus) {
            &:extend(.abs-visually-hidden all);
        }
        &:focus {
            .lib-css(background, @color-gray94);
            .lib-css(padding, @indent__s);
            box-sizing: border-box;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }

    //
    //  Global notice
    //  ---------------------------------------------

    .message.global {
        p {
            margin: 0;
        }
        &.noscript,
        &.cookie {
            .lib-message(@_message-type: global-note);
            margin: 0;
        }
        &.cookie {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: 3;
            .actions {
                margin-top: @indent__s;
            }
        }
        &.demo {
            .lib-message(@_message-type: global-caution);
            margin-bottom: 0;
            text-align: center;
        }
    }

    //
    //  Footer
    //  ---------------------------------------------

    .page-footer {
        margin-top: @indent__m;
        border-top: 2px solid @footer-links-separator-border-color;
    }

    .footer {
        &.content {
            padding-top: @indent__base;
            text-align: center;
            display: flex;
            justify-content: space-around;
            align-content: center;
            align-items: stretch;
            ul:extend(.abs-reset-list all) {
            }
            .block-title {
                font-weight: bold;
            }
            .widget {
                clear: none;
            }
            .links {
                > li {
                    .lib-css(background, @footer__background-color);
                    .lib-font-size(16);
                    margin: 0 -@layout__width-xs-indent;
                    padding: 0 @layout__width-xs-indent;
                }
                strong,
                a {
                    display: block;
                    padding: @indent__xs 0;
                }
                strong {
                    .lib-css(color, @footer-links-color-current);
                    font-weight: normal;
                }
                a {
                    .lib-link(
                        @_link-color: @footer-links-color,
                        @_link-text-decoration: none,
                        @_link-color-visited: @footer-links-color,
                        @_link-text-decoration-visited: none,
                        @_link-color-hover: @footer-links-color-hover,
                        @_link-text-decoration-hover: underline,
                        @_link-color-active: @footer-links-color-hover,
                        @_link-text-decoration-active: underline
                    );
                }
            }
        }
    }

    .page-header,
    .page-footer {
        .switcher {
            .options {
                .lib-dropdown(
                    @_dropdown-actions-padding: 0,
                    @_dropdown-list-item-padding: 0,
                    @_dropdown-toggle-icon-content: @icon-down,
                    @_dropdown-toggle-active-icon-content: @icon-up,
                    @_icon-font-text-hide: true,
                    @_icon-font-size: 10px,
                    @_icon-font-line-height: 22px,
                    @_dropdown-list-min-width: 160px
                );
                ul.dropdown {
                    a {
                        .lib-link(
                            @_link-color: @color-gray20,
                            @_link-text-decoration: none,
                            @_link-color-visited: @color-gray20,
                            @_link-text-decoration-visited: none,
                            @_link-color-hover: @color-gray20,
                            @_link-text-decoration-hover: none,
                            @_link-color-active: @color-gray20,
                            @_link-text-decoration-active: none
                        );
                        display: block;
                        padding: 8px;
                    }
                }
            }
            strong {
                font-weight: @font-weight__regular;
            }
            .label:extend(.abs-visually-hidden all) {
            }
        }
    }

    //
    //  Footer Buttom
    //  ---------------------------------------------

    .page-footer-bottom {
        .lib-css(background-color, @footer-bottom__background-color);
        .lib-css(color, @footer-bottom__text-color);

        margin-top: @indent__s;
        .switcher {
            .options {
                .lib-dropdown(
                    @_dropdown-actions-padding: 10px,
                    @_dropdown-list-item-padding: 0,
                    @_dropdown-toggle-icon-content: @icon-up,
                    @_dropdown-toggle-active-icon-content: @icon-down,
                    @_dropdown-list-background: @footer-bottom__background-color,
                    @_dropdown-list-item-hover: @footer-bottom__background-color,
                    @_dropdown-list-position-top: false,
                    @_dropdown-list-position-bottom: 100%,
                    @_dropdown-list-border: false,
                    @_dropdown-list-pointer: false,
                    @_icon-font-text-hide: true,
                    @_icon-font-size: 10px,
                    @_icon-font-line-height: 22px,
                    @_dropdown-list-min-width: 160px
                );
                ul.dropdown {
                    text-align: left;
                    a {
                        .lib-link(
                            @_link-color: @footer-bottom__links-color,
                            @_link-text-decoration: none,
                            @_link-color-visited: @footer-bottom__links-color-hover,
                            @_link-text-decoration-visited: none,
                            @_link-color-hover: @footer-bottom__links-color-hover,
                            @_link-text-decoration-hover: none,
                            @_link-color-active: @footer-bottom__links-color-hover,
                            @_link-text-decoration-active: none
                        );
                        display: block;
                        padding: 8px;
                    }
                }
            }
            strong {
                font-weight: @font-weight__regular;
            }
            .label:extend(.abs-visually-hidden all) {
            }
        }
    }

    .footer-bottom {
        &.content {
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: stretch;
            .links {
                > li {
                    .lib-font-size(16);
                    margin: 0 -@layout__width-xs-indent;
                    padding: 0 @layout__width-xs-indent;
                }
                strong,
                a {
                    display: block;
                    padding: @indent__s 0;
                }
                strong {
                    .lib-css(color, @footer-links-color-current);
                    font-weight: normal;
                }
                a {
                    .lib-link(
                        @_link-color: @footer-bottom__links-color,
                        @_link-text-decoration: none,
                        @_link-color-visited: @footer-bottom__links-color-hover,
                        @_link-text-decoration-visited: none,
                        @_link-color-hover: @footer-links-color-hover,
                        @_link-text-decoration-hover: underline,
                        @_link-color-active: @footer-bottom__links-color-hover,
                        @_link-text-decoration-active: underline
                    );
                }
            }
        }
    }

    .copyright {
        .lib-css(color, @copyright__text-color);
        display: block;
        padding: @indent__s;
    }
}

//
//  Navigation
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .customer-name,
    .customer-welcome + .authorization-link {
        display: none;
    }
    .nav-sections .switcher-trigger strong:after {
        .lib-font-size(16);
        right: -25px;
        top: 2px;
    }
    .navigation .parent .level-top:after {
        .lib-font-size(16);
        right: 10px;
        top: 7px;
    }
    .page-footer-bottom .footer-bottom.content {
        .switcher-store {
            .lib-css(background, @footer-bottom__background-color);
            .lib-css(color, @footer-bottom__links-color);
            .lib-font-size(16);
            margin: 0 -@layout__width-xs-indent;
            .switcher-options {
                display: block;
                ul.dropdown {
                    background: none;
                    border: 0;
                    box-shadow: none;
                    margin: 0;
                    position: relative;
                    &:before,
                    &:after {
                        display: none;
                    }
                }
                .switcher-trigger,
                .switcher-option {
                    border-top: 1px solid lighten(@footer-bottom__background-color, 10%);
                    display: block;
                    padding: @indent__s @layout-indent__width;
                }
                .switcher-trigger strong {
                    padding: @indent__s 0;
                }
                .switcher-option a {
                    padding: 0;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .logo {
        margin-bottom: 13px;
        margin-top: 4px;
    }

    .desktop-greet {
        display: none;
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Widgets
    //  ---------------------------------------------

    .sidebar {
        .widget.block:not(:last-child),
        .widget:not(:last-child) {
            margin-bottom: @indent__xl;
        }
    }

    .widget {
        clear: both;
        .block-title:extend(.abs-block-widget-title all) {
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    html,
    body {
        height: 100%; //  Stretch screen area for sticky footer
    }

    body {
        .ie9 & {
            .lib-css(color, @copyright__text-color);
        }
    }

    // Navigation styling
    .nav-sections {
        .lib-css(background, @_navigation__background);
        border-top: 2px solid lighten(@ala-primary-color, 75%);
        border-bottom: 2px solid lighten(@ala-primary-color, 75%);
    }

    .navigation {
        .lib-css(background, @_nav-background-color);
        ul {
            padding: 0 8px;
            .level0 > {
                .level-top {
                    .lib-css(color, @_nav-level0-item-color);
                    text-transform: uppercase;
                    padding: 0 10px;
                }
            }
            li.level0.last {
                .level-top {
                    color: @ala-secondary-color;
                }
            }
        }

    }

    .page-header {
        border: 0;
        margin-bottom: 0;
        .panel.wrapper {
            border-bottom: 1px solid @secondary__color;
            .lib-css(background-color, @header-panel__background-color);
        }
        .header.panel:extend(.abs-add-clearfix-desktop all) {
            padding-bottom: @indent__s;
            padding-top: @indent__s;
            text-align: center;
        }
        .switcher {
            float: left;
            margin-right: 15px;
            .lib-css(font-size, @font-size__s);
            .lib-vendor-prefix-order(1);
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title {
                display: inline-block;
            }
            .page-title + .action {
                float: right;
                margin-top: @indent__base;
            }
        }
    }

    .customer-welcome {
        .lib-dropdown(
            @_toggle-selector: ~".action.switch",
            @_options-selector: ~"ul",
            @_dropdown-actions-padding: 0,
            @_dropdown-list-item-padding: 0,
            @_dropdown-toggle-icon-content: @icon-down,
            @_dropdown-toggle-active-icon-content: @icon-up,
            @_icon-font-text-hide: true,
            @_icon-font-size: 10px,
            @_icon-font-line-height: 22px,
            @_dropdown-list-pointer-position: right,
            @_dropdown-list-position-right: 0,
            @_dropdown-list-z-index: @customer-welcome__z-index
        );
        li:extend(.switcher li all) {
            a {
                .lib-link(
                    @_link-color: @color-gray20,
                    @_link-text-decoration: none,
                    @_link-color-visited: @color-gray20,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @color-gray20,
                    @_link-text-decoration-hover: none,
                    @_link-color-active: @color-gray20,
                    @_link-text-decoration-active: none
                );
                display: block;
                line-height: 1.4;
                padding: 8px;
            }
        }
        .customer-name {
            cursor: pointer;
        }
        .customer-menu {
            display: none;
        }
        .action.switch {
            .lib-button-reset();
            .lib-css(color, @color-white);
        }
        .header.links {
            min-width: 175px;
        }
        &.active {
            .action.switch {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                );
            }
            .customer-menu {
                display: block;
            }
        }
        .greet {
            display: none;
        }
    }

    .desktop-greet {
        display: inline-block;
    }

    .header {
        &.panel {
            > .header.links {
                .lib-list-inline();
                float: right;
                margin-left: auto;
                text-transform: uppercase;
                > li {
                    margin: 0 0 0 15px;
                    &.welcome,
                    > a {
                        display: inline-block;
                        line-height: 1.4;
                    }
                    &.welcome {
                        a {
                            .lib-css(color, @color-white);
                            .lib-css(padding-left, @indent__xs);
                        }
                    }
                }
                .greet.welcome {
                    display: none;
                }
                > .authorization-link {
                    &:after {
                        content: attr(data-label);
                        display: inline-block;
                        margin: 0 -@indent__xs 0 @indent__xs;
                    }
                }
                > .customer-welcome + .authorization-link {
                    display: none;
                }
            }
        }
        &.content:extend(.abs-add-clearfix-desktop all) {
            padding: @indent__l @indent__base 0;
        }
    }

    .logo {
        margin: -8px auto @indent__m 0;
        img {
            max-height: inherit;
        }
    }

    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        margin: 0;
        min-height: 100%; // Stretch content area for sticky footer
        position: relative;
        transition: margin .3s ease-out 0;
        > .breadcrumbs,
        > .top-container,
        > .widget {
            box-sizing: border-box;
            width: 100%;
        }
        .ie10 &,
        .ie11 & {
            height: 100%;
        }
    }

    .page-footer {
        .lib-css(background, @footer__background-color);
        margin-top: auto;
        padding-bottom: @indent__m;
    }

    .footer {
        &.content {
            flex-flow: row nowrap;
            & > div {
                position: relative;
                padding: 0 2.5%;
                flex-basis: 20%;
                flex-grow: 1;
                margin: 0 auto;
                &:not(:last-child):after {
                    content: "";
                    width: 2px;
                    position: absolute;
                    height: 90%;
                    right: 0;
                    top: 5%;
                    background: @footer-links-separator-border-color;
                }
            }
            .switcher.store {
                display: block;
                margin: 0;
            }
            .links {
                display: inline-block;
                padding: 0;
                vertical-align: top;
                li {
                    background: transparent;
                    border: none;
                    font-size: 14px;
                    margin: 0 0 8px;
                    padding: 0;
                }
                a,
                strong {
                    display: inline;
                }
            }
            .block {
                &.newsletter {
                    width: auto;
                }
            }
        }
    }

    .footer-bottom {
        &.content {
            flex-flow: row nowrap;
            & > div,
            small {
                position: relative;
                flex-basis: 33%;
                flex-grow: 1;
                margin: 0 auto;
            }
        }
        .switcher-store {
            text-align: right;
        }
        .block-static-block.widget,
        .block-cms-link.widget {
            padding: 10px;
        }
    }
    .copyright {
        text-align: left;
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .footer {
        &.content {
            flex-flow: column nowrap;
            & > div:not(:last-child) {
                border-bottom: 1px solid @footer-links-separator-border-color;
            }
        }
        .block {
            margin-bottom: @indent__base;
            &.newsletter {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
    .footer-bottom {
        &.content {
            flex-flow: column-reverse nowrap;
            text-align: center;
            .block-static-block.widget, .block-cms-link.widget {
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }
    }
    .copyright {
        text-align: center;
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .no-display:extend(.abs-no-display all) {
    }

    //
    //  Calendar
    //  ---------------------------------------------

    .ui-datepicker td {
        padding: 0;
    }

    .ui-tooltip {
        border: @tooltip__border-width solid @tooltip__border-color;
        .lib-css(background, @tooltip__background);
        padding: 10px;
    }
    .page-wrapper {
        direction: ltr;
    }
}
