@social-network-color: @footer-links-color;
@social-network-color-hover: @footer-links-color-hover;
@social-network-size: 35px;
@social-network-radius: 0;
@social-network-border: 0;

// Available social networks & colors
@_social-network-codepen: #1B1C1B;
@_social-network-digg: #1A5891;
@_social-network-dribbble: #C32361;
@_social-network-dropbox: #007ee5;
@_social-network-facebook: #3b5998;
@_social-network-flickr: #ff0084;
@_social-network-foursquare: #0072b1;
@_social-network-googleplus: #dd4b39;
@_social-network-github: #323131;
@_social-network-instagram: #125688;
@_social-network-linkedin: #007bb5;
@_social-network-pinterest: #cb2027;
@_social-network-getpocket: #E84352;
@_social-network-reddit: #FF4500;
@_social-network-skype: #00AFF0;
@_social-network-stumbleupon: #EB4924;
@_social-network-tumblr: #32506d;
@_social-network-twitter: #00aced;
@_social-network-vimeo: #aad450;
@_social-network-wordpress: #00A0D2;
@_social-network-youtube: #bb0000;
@_social-network-mailto: @social-network-color-hover;
@_social-network-spotify: #1ED760;
@_social-network-twitch: #6441A5;
@_social-network-feed: #FF9900;

//
//  Add any css property for links with hover
//  ---------------------------------------------

.social-network-css(
    @_property,
    @_value,
    @_hover: 0
) when (@_hover = 1) {
    &:hover {
        .lib-css(@_property, @_value);
    }
}

.social-network-css(
    @_property,
    @_value,
    @_hover: 0
) when (@_hover = 0) {
    .lib-css(@_property, @_value);
}

.social-networks {
    ul {
        list-style: none;
        margin: 0;
        padding: 0 !important;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        max-width: 80% !important;
        margin: 0 auto !important;
    }
    li {
        margin: auto !important;
        width: @social-network-size;
        height: @social-network-size;
        padding-bottom: 10px;
    }
    a {
        .fa-icon();
        color: @social-network-color;
        position: relative;
        height: @social-network-size;
        width: @social-network-size;
        font-size: @social-network-size * 60 / 100;
        text-align: center;
        overflow: hidden;
        border: @social-network-border solid;
        -webkit-border-radius: @social-network-radius;
        -moz-border-radius: @social-network-radius;
        border-radius: @social-network-radius;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s ;
        -ms-transition: all 0.3s ease-in-out 0s ;
        -o-transition: all 0.3s ease-in-out 0s ;
        transition: all 0.3s ease-in-out 0s ;
        &:before {
            content: @fa-var-shopping-bag;
            height: @social-network-size;
            line-height: @social-network-size * 105 / 100;
            width: @social-network-size;
            height: @social-network-size;
            width: @social-network-size;
            display: block;
        }
        &:focus,
        &:hover {
            color: @social-network-color-hover;
        }
    }
    a:hover {
        text-decoration: none;
    }
    a[href*="codepen.io"] {
        &:before {
            content: @fa-var-codepen;
        }
    }
    a[href*="digg.com"] {
        &:before {
            content: @fa-var-digg;
        }
    }
    a[href*="dribbble.com"] {
        &:before {
            content: @fa-var-dribbble;
        }
    }
    a[href*="dropbox.com"] {
        &:before {
            content: @fa-var-dropbox;
        }
    }
    a[href*="facebook.com"] {
        &:before {
            content: @fa-var-facebook;
        }
        .social-network-css(color, @_social-network-facebook, 1);
    }
    a[href*="flickr.com"] {
        &:before {
            content: @fa-var-flickr;
        }
        .social-network-css(color, @_social-network-flickr, 1);
    }
    a[href*="foursquare.com"] {
        &:before {
            content: @fa-var-foursquare;
        }
        .social-network-css(color, @_social-network-foursquare, 1);
    }
    a[href*="plus.google.com"] {
        &:before {
            content: @fa-var-google-plus;
        }
        .social-network-css(color, @_social-network-googleplus, 1);
    }
    a[href*="github.com"] {
        &:before {
            content: @fa-var-github;
        }
        .social-network-css(color, @_social-network-github, 1);
    }
    a[href*="instagram.com"] {
        &:before {
            content: @fa-var-instagram;
        }
        .social-network-css(color, @_social-network-instagram, 1);
    }
    a[href*="linkedin.com"] {
        &:before {
            content: @fa-var-linkedin;
        }
        .social-network-css(color, @_social-network-linkedin, 1);
    }
    a[href*="pinterest.com"] {
        &:before {
            content: @fa-var-pinterest-p;
        }
        .social-network-css(color, @_social-network-pinterest, 1);
    }
    a[href*="getpocket.com"] {
        &:before {
            content: @fa-var-get-pocket;
        }
        .social-network-css(color, @_social-network-getpocket, 1);
    }
    a[href*="reddit.com"] {
        &:before {
            content: @fa-var-reddit;
        }
        .social-network-css(color, @_social-network-reddit, 1);
    }
    a[href*="skype.com"] {
        &:before {
            content: @fa-var-skype;
        }
        .social-network-css(color, @_social-network-skype, 1);
    }
    a[href*="stumbleupon.com"] {
        &:before {
            content: @fa-var-stumbleupon;
        }
        .social-network-css(color, @_social-network-stumbleupon, 1);
    }
    a[href*="tumblr.com"] {
        &:before {
            content: @fa-var-tumblr;
        }
        .social-network-css(color, @_social-network-tumblr, 1);
    }
    a[href*="twitter.com"] {
        &:before {
            content: @fa-var-twitter;
        }
        .social-network-css(color, @_social-network-twitter, 1);
    }
    a[href*="vimeo.com"] {
        &:before {
            content: @fa-var-vimeo;
        }
        .social-network-css(color, @_social-network-vimeo, 1);
    }
    a[href*="wordpress.org"],
    a[href*="wordpress.com"] {
        &:before {
            content: @fa-var-wordpress;
        }
        .social-network-css(color, @_social-network-wordpress, 1);
    }
    a[href*="youtube.com"] {
        &:before {
            content: @fa-var-youtube-play;
        }
        .social-network-css(color, @_social-network-youtube, 1);
    }
    a[href^="mailto"] {
        &:before {
            content: @fa-var-envelope-o;
        }
        .social-network-css(color, @_social-network-mailto, 1);
    }
    a[href*="spotify.com"] {
        &:before {
            content: @fa-var-spotify;
        }
        .social-network-css(color, @_social-network-spotify, 1);
    }
    a[href*="twitch.tv"] {
        &:before {
            content: @fa-var-twitch;
        }
        .social-network-css(color, @_social-network-twitch, 1);
    }
    a[href$="/feed/"] {
        &:before {
            content: @fa-var-feed;
        }
        .social-network-css(color, @_social-network-feed, 1);
    }
}