// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

//

//
//    Common
//--------------------------------------

& when (@media-common = true) {

// Product Lists
.products {
    margin: @indent__l 0;
}
.product {
    &-items {
        &:extend(.abs-reset-list all);
    }
    &-item {
        vertical-align: top;
        .products-grid & {
            width: 100%/2;
            display: inline-block;
        }
        &:extend(.abs-add-box-sizing all);

        &-name {
            &:extend(.abs-product-link all);
            display: block;
            margin: @indent__s 0;
            word-wrap: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
        }

        &-info {
            width: 152px;
            max-width: 100%;
            .page-products & {
                width: 240px;
            }
        }

        &-actions {
            display: none;
            .actions-secondary {
                > .action {
                    &:extend(.abs-actions-addto all);
                    &:before {
                        margin: 0;
                    }
                    span {
                        &:extend(.abs-visually-hidden all);
                    }
                }
            }
        }
        &-description {
            margin: @indent__m 0;
        }
        .product-reviews-summary {
            .rating-summary {
                margin: 0 4px 0 0;
            }
            .reviews-actions {
                margin-top: 5px;
                text-transform: lowercase;
                font-size: @font-size__s;
                .action{
                    color: lighten(@_rating-color, 50%);
                    text-decoration: underline;
                }
            }
        }

        .price-box {
            margin: @indent__s 0 @indent__m;
            .price {
                font-weight: bold;
            }
            .price-label {
                font-size: @font-size__s;
                .lib-css(color, @text__color__muted);
            }
        }

        .old-price {
            margin: @indent__xs 0;
            .price {
                font-weight: normal;
            }
        }

        .minimal-price {
            .price-container {
                display: block;
            }
        }

        .minimal-price-link {
            margin-top: @indent__xs;
        }

        .price-from,
        .price-to {
            margin: 0;
        }

        .tocompare {
            .lib-icon-font-symbol(
                @icon-compare-full
            );
        }
        .tocart {
            white-space: nowrap;
            border-radius: 0;
            .lib-font-size(13px);
            line-height: 1;
            padding-top: @indent__s;
            padding-bottom: @indent__s;
        }
    }
}

.column.main {
    .product {
        &-items {
            margin-left: -20px;
        }
        &-item {
            padding-left: 20px;
        }
    }
}

.price-container {
    .price {
        .lib-font-size(14);
    }

    .price-including-tax + .price-excluding-tax,
    .weee {
        margin-top: 5px;
    }

    .price-including-tax + .price-excluding-tax,
    .weee,
    .price-including-tax + .price-excluding-tax .price,
    .weee .price,
    .weee + .price-excluding-tax:before,
    .weee + .price-excluding-tax .price {
        .lib-font-size(11);
    }

    .weee {
        &:before {
            content: "("attr(data-label) ": ";
        }
        &:after {
            content: ")";
        }
        + .price-excluding-tax {
            &:before {
                content: attr(data-label) ": ";
            }
        }
    }
}

.products-list {
    .product {
        &-item {
            display: table;
            width: 100%;

            &-info {
                display: table-row;
            }
            &-photo {
                width: 1%;
                padding: 0 @indent__l @indent__l 0;
                vertical-align: top;
                display: table-cell;
            }
            &-details {
                vertical-align: top;
                display: table-cell;
            }
        }
    }
    .product-image-wrapper {
        &:extend(.abs-reset-image-wrapper all);
    }
}

}

//
//    Mobile
//--------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;
            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-item-info {
        .products-grid & {
            &:hover,
            &.active {
                margin: -10px;
                padding: 9px;
                border: 2px solid @_product__listing-border-color;
                position: relative;
                z-index: 2;
                .lib-css(background, @color-white);
                .product-item-inner {
                    display: block;
                }
                .product-item-actions {
                    opacity: 1!important;
                }
            }
        }
    }

    .product-item-actions {
        display: block;
        .products-grid & {
            margin: -@indent__s 0 @indent__s;
            opacity: 0;
            transition: .5s;
        }
        .actions-primary + .actions-secondary {
            display: table-cell;
            width: 50%;
            padding-left: 10px;
            > .action {
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .actions-primary { display: table-cell; }
    }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        //&:extend(.abs-visually-hidden-desktop-s all);
                    }
                }
            }
        }
    }

    .products-grid {
        .product-item {
            width: 100%/3;
            margin-bottom: @indent__xl;
        }
    }

    .page-layout-1column .products-grid .product-item { width: 100%/3 }
    .page-layout-3columns .products-grid .product-item { width: 100%/3 }
    .page-products .products-grid .product-item { width: 100%/3 }
    .page-products.page-layout-1column .products-grid .product-item { width: 100%/3 }
    .page-products.page-layout-3columns .products-grid .product-item { width: 100%/3 }
}

//
//
//    Desktop
//--------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products .products-grid .product-item { width: 100%/3 }
    .page-products.page-layout-1column .products-grid .product-item { width: 100%/4 }
    .page-products.page-layout-3columns .products-grid .product-item { width: 100%/2 }

    .products-grid {
        .product-item-info {
            margin: -10px;
            padding: 9px;
            border: 2px solid #fff;
            transition: .5s;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .products-grid .product-item { width: 100%/5 }
    .page-layout-1column .products-grid .product-item { width: 100%/6 }
    .page-layout-3columns .products-grid .product-item { width: 100%/4 }
    .page-products .products-grid .product-items { margin: 0; }
    .page-products .products-grid .product-item {
        width: 22.439%;
        margin-left: calc(~"(100% - 4 * 22.439%) / 3");
        padding: 0;
        &:nth-child(4n+1) {
            margin-left: 0;
        }
    }
    .page-products.page-layout-1column .products-grid .product-item { width: 100%/5 }
    .page-products.page-layout-3columns .products-grid .product-item { width: 100%/4 }
}

.product-item-name > a, .product.name a > a {
    color: @_product__listing__heading-color!important;
}

.product-item-details {
    .price-box {
        .price {
            color: @_product__listing__price-color;
        }
    }
}

.products-grid {
    .product-item-info {
        text-align: center;
        .product-item-actions{
            .actions-secondary {
                margin-bottom: 10px;
                position: absolute;
                top: 0;
                width: 100%;
                text-align: center;
                height: 50px;
                top: -64px;
                z-index: 1;
                background : linear-gradient(0deg, lighten(@_product__listing__actions-background-color, 60%) 0%, rgba(0, 0, 0, 0) 100%);
                padding-left: 0;
                .action {
                    color: @_product__listing__actions-color;
                    margin-top: 15px;
                }
                .towishlist {
                    margin-right: 10px;
                }
            }
            .actions-primary {
                display: inline-block;
            }
        }
        .product-item-details {
            position: relative;
            .price-box {
                margin: 10px 0 20px;
            }
        }
    }
}