// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.swatch-option {
  float: none !important;
  margin: 0 10px 5px 0 !important;
  padding: 5px 4px!important;
  display: inline-block;
  line-height: 20px!important;
}

.swatch-option.color {
  min-width: 30px;
  height: 30px;
  padding: 0!important;
}

.swatch-option.text {
  margin: 0 7px 15px 0!important;
}

.swatch-attribute.size .swatch-option, .swatch-attribute.manufacturer .swatch-option
{
  background: #fff;
  color: @ala-primary-color;
}